<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container div row div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl 12">
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                  <label for="Book Title" class="form-labeel">Book Title</label>
                  <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <label for="Author" class="form-label">Author</label>
                 <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <label for="Published Year" class="form-label">Published Year</label>
                 <input type="date" name="" id="" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <label for="Price" class="form-label">Price</label>
                 <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                 <button class="btn btn-warning">Submit</button>

            </div>
        </div>
    </div>
</body>
</html>